calculadora

ArrayTypes/obj/Debug/net5.0/ArrayTypes.assets.cache
ArrayTypes/obj/Debug/net5.0/ArrayTypes.GeneratedMSBuildEditorConfig.editorconfig

BancoOop/obj/Debug/net5.0/BancoOop.AssemblyInfo.cs
BancoOop/obj/Debug/net5.0/BancoOop.assets.cache
BancoOop/obj/Debug/net5.0/BancoOop.GeneratedMSBuildEditorConfig.editorconfig

cronometro/obj/Debug/net5.0/cronometro.AssemblyInfo.cs
cronometro/obj/Debug/net5.0/cronometro.assets.cache
cronometro/obj/Debug/net5.0/cronometro.GeneratedMSBuildEditorConfig.editorconfig

EditorDeTextos/obj/Debug/net5.0/EditorDeTextos.AssemblyInfo.cs
EditorDeTextos/obj/Debug/net5.0/EditorDeTextos.assets.cache
EditorDeTextos/obj/Debug/net5.0/EditorDeTextos.GeneratedMSBuildEditorConfig.editorconfig

editorHtml/obj/Debug/net5.0/editorHtml.AssemblyInfo.cs
editorHtml/obj/Debug/net5.0/editorHtml.assets.cache
editorHtml/obj/Debug/net5.0/editorHtml.GeneratedMSBuildEditorConfig.editorconfig

enums/obj/Debug/net5.0/enums.AssemblyInfo.cs
enums/obj/Debug/net5.0/enums.assets.cache
enums/obj/Debug/net5.0/enums.GeneratedMSBuildEditorConfig.editorconfig

Oop/obj/Debug/net5.0/Oop.assets.cache
Oop/obj/Debug/net5.0/Oop.GeneratedMSBuildEditorConfig.editorconfig

structs/obj/Debug/net5.0/structs.assets.cache
structs/obj/Debug/net5.0/structs.GeneratedMSBuildEditorConfig.editorconfig
